<html>
    <head>
        <title>
            <%= title%>
        </title>
    </head>
    <body>
        <!-- Main Header -->
        <div id="main header">
            <h2>Weekly View</h2>
        </div>
        <main>
            <div class="workout-view">
                <ol>
                    <% for(let i=0;i<habit_List.length;i++){ %>
                        <h3><%=habit_List[i].name%></h3>
                        <ul>
                            <li> 
                                <i class="fa fa-list" aria-hidden="true"></i>  
                                <span style="float: right;"><%for(let i=0,j=0;i<7;i++ ) {%>
                        
                                            <%let day=Date.getDay()-i %>
                                            <% if(day<0){%>
                                            <% day=daysOfWeek.length-1-j %>
                                            <% j++ %>
                                            <%}%>   
                                     <span class="item">  &nbsp;&nbsp;<%if(i==0) {%>
                                                Today
                                                <%}%> 
                                                <%if(i!=0) {%>
                                                <%=daysOfWeek[day]%>
                                                <%}%>
                                     </span>  
                                            <%}%>
                                </span> 
                            </li>
                        </ul>
                    <% } %>
                </ol>
            </div>
        </main>
        <!-- Main content -->
        <script src="script.js"></script>  
    </body>
</html>